.button{
    border: 1px solid #edeceb !important;
    min-height: auto;
    color: #FFFF;
    background-color: #3c096c !important;
    font-size: 22px;
    font-family: 'Brygada 1918', sans-serif;
    border-radius: 500px !important;
}

.text-element{
    padding: 10px 16px;
    margin:  8px;
}