<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="content-wrapper">
                <div class="main-image-wrap">

                </div>
                <div class="content-wrap">
                    <div class="desc-wrapper">
                        <p class="mbr-desc">Оцените свой кофе</p>
                    </div>
                    <h2 class="mbr-header">Coffee Peek</h2>
                    <div class="text-wrapper">
                        <p>Погрузитесь в мир кофе и откройте для себя лучшие кофейни с нашими оценками!</p>
                    </div>
                    <div class="mbr-section-btn"><a class="btn-primary" href="#">Начать</a></div>

                    <div class="image-wrapper">
                        <div class="image-wrap">
                            <img src="https://r.mobirisesite.com/1044261/assets/images/photo-1453614512568-c4024d13c247.jpeg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
